.container {
    display: flex;
    justify-content: space-between;
}
.image, .text {
    width: 50%;
    margin: 0%;
}
img {
    max-width: 640px;
    max-height: 800px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}
.vote-status {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}
#coordinatesDisplay, .boundingBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border: 1px solid blue;
    color: blue;
    border-radius: 5px;
    display: none;
}
.boundingBox {
    background-color: transparent;
    padding: 0;
    border: 2px solid red;
}
.interactive-text {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.interactive-text:hover {
    color: darkred;
    text-decoration: underline;
}
