<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="coordinatesDisplay"></div>
    <div class="container">
        <div class="image">
            <img src="{{ url_for('image', index=index) }}" alt="Image" id="imagePreview">
            <div class="boundingBox" id="boundingBox"></div>
        </div>
        <div class="text">
            {{ processed_text | safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
