<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="coordinatesDisplay"></div>
    <div class="container">
        <div class="image">
            <img src="{{ url_for('image', index=index) }}" alt="Image" id="imagePreview">
            <div class="boundingBox" id="boundingBox"></div>
        </div>
        <div class="text">
            <div class="button-container">
                <a href="{{ url_for('index', index=index-1) }}"><button>⬅️</button></a>
                <form action="{{ url_for('vote') }}" method="post" style="display: flex;">
                    <input type="hidden" name="index" value="{{ index }}">
                    <button type="submit" name="vote" value="👍">👍</button>
                    <button type="submit" name="vote" value="👎">👎</button>
                </form>
                <a href="{{ url_for('index', index=index+1) }}"><button>➡️</button></a>
            </div>
            {{ processed_text | safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
